<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <h1>Employee Fill</h1>
    <form action="" method="post">
        {% csrf_token %}
        Name:<input type="text" name="name">
        Designation:<input type="text" name="post">
        Salary:<input type="number" name="salary">
        Status:<input type="text" name="status">
        <input type="submit">
    </form>    
</body>
</html>