<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Quiz</h1>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        {% for q in questions %}
        <h4>{{q.question}}</h4>
        <input type="radio" name="{{q.question}}" value="option1">{{q.op1}}<br>
        <input type="radio" name="{{q.question}}" value="option2">{{q.op2}}<br>
        <input type="radio" name="{{q.question}}" value="option3">{{q.op3}}<br>
        <input type="radio" name="{{q.question}}" value="option4">{{q.op4}}<br>
        {% endfor %}
        <input type="submit">
    </form>
</body>
</html>